# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.apk
*.aab
*.exe
*.dll
*.pdb
*.mdb
*.log
*.vsconfig

# Crash reports
sysinfo.txt

# OS-specific
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio
.vs/

# Ignore Burst debug info
Final Year Project_BurstDebugInformation_DoNotShip/

# Packages - lock files
Packages/packages-lock.json
